.mainAlbum {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.divHeader{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 74px;
}
.title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
.subtitle{
    font-size: 14px;
    color: #9D9D9D;
}

.girdContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;    
}

.containerFlex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
    column-gap: 30px;
}


.divButtons{
    display: flex;
    justify-content: space-between;    
    width: 300px;
    padding-bottom: 20px;
}

@media (max-width: 700px){
    .girdContainer{
        grid-template-columns: 1fr;
        gap:5px;
    }

    .containerFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
} 

