.mainHome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.homeGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 20px;
    padding-top: 130px;
}

.loadBtndiv{ 
    padding-bottom: 100px; 
}

@media (max-width: 600px){
    .homeGrid{
        grid-template-columns:  1fr;
    }
}

@media (min-width: 600px) and (max-width: 1200px){
    .homeGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}




