.navbar {
  position: fixed;
  top: 0;
  display: flex;
  background-color: black;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 100;
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 55%;    
}

.buttonDiv {
 display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width:45%; 
}

.logoutBtn {
  height: 30px;
  width: 140px;
  background-color: black;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}
.logoutBtn:hover{
  background-color: rgb(27, 27, 27);;
  
}

@media (max-width: 600px) {
  .logo{
    justify-content: flex-start;
    padding: 10px;
    width: 30%

  }
  .loginLogo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;  
  }

  .buttonDiv{
    width: 70%;
    justify-content: flex-start;
    padding-right: 10px;
  }

  .buttonDiv .logoutBtn {
    margin-left: 20px;
  }

  .logoutBtn{
    height: 25px;
    width: 100px;
    font-size: 12px;
    padding-right: 10px;
  }



 .logoImg{
  /* margin-left: 10px; */
  height: 20px;
  width:100px;
 }


}

@media (min-width: 601px) and (max-width: 900px){
  .logo {
    width: 70%;    
  }

  .loginLogo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;  
    padding-left: 10px;
  }

  .logoutBtn{
    height: 25px;
    width: 115px;
    font-size: 12px;
  }

}

 @media (min-width: 900px) and (max-width: 1200px) {
  .logo {
    width: 70%;    
  }

  .loginLogo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;  
  }
}

 @media (min-width: 1201px) {
  .logo {
    width: 55%;    
  }

  .loginLogo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55%;  

  }
}


