.dropdown {
  position: relative;
}


 
  .dropdownContent {
    position: absolute;
    top: 50px;
    right: -5px;
    width: 100%;
    overflow: auto; 
    border: 2px solid black;
    background-color: white;
  }
 
  .contentItems {
    color: #9D9D9D;
    padding: 5px;
    text-align: center;
  }

  .contentItems:hover{
    cursor: pointer;
    color: black;
  }


  .myAlbumBtn {
    position: relative; 
    z-index: 20px; 
    height: 30px;
    width: 140px;
    border: 1px solid white;
    color: white;
    background-color: black;
  }
  .downloadBtn {
    height: 30px;
    width: 160px;
    color: white;
    background-color: black;
  }

  @media(max-width: 600px){
    .myAlbumBtn {
      height: 25px;
      width: 110px;
      font-size: 12px;
    }
  }
  @media(max-width: 900px){
    .myAlbumBtn {
      height: 25px;
      width: 115px;
      font-size: 12px;
    }
  }



